.welcome-header {
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.welcome-header__title {
    margin-bottom: 25px;
    font-size: 30px;
}
.welcome-header__text {
    opacity: 50%;
    display: flex;
    flex-direction: column;
}

.log-in-form {
    padding: 0 90px;
    margin-bottom: 10px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.log-in-form input {
    height: 40px;
    border: none;
}
.log-in-form input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}
.log-in-form input:nth-child(-n+2) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    transition: all 0.2s ease-in-out;
}
.log-in-form input:nth-child(-n+2):hover, .log-in-form input:nth-child(-n+2):focus {
    border-color: black;
}
.log-in-form input:nth-child(-n+2):hover::placeholder {
    color: black;
    }
.log-in-form input:nth-child(2) {
    margin-bottom: 20px;
}
.log-in-form input:nth-child(n+3):nth-child(-n+4) {
    border-radius: 25px;
    width: 90%;
    transition: background-color 0.2s ease-in-out;
}
.log-in-form input:nth-child(n+3):nth-child(-n+4):hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.find-account {
    text-align: center;
}
.find-account a {
    color: #f6bd60;
    transition: all 0.2s ease-in-out;
}
.find-account a:hover {
    color: #ff9f1c;
}